Get data from csv file.

In [55]:
import pandas as pd
import numpy as np

immo = pd.read_csv("../data/_data_clean.csv", index_col='id')
display(immo.head())
display(immo.isnull().mean() * 100)#percentage of missing values per column

,URL,Status,transactionType,transactionSubtype,price,type,subtype,country,region,province,...,parkingCountIndoor,parkingCountOutdoor,parkingCountClosedBox,primaryEnergyConsumptionPerSqm,epcScore,hasDoubleGlazing,saleType,creationDate,lastModificationDate,price_per_sm
id,,,,,,,,,,,,,,,,,,,,,
10616910,https://www.immoweb.be/en/classified/10616910,200,FOR_SALE,BUY_REGULAR,399000,APARTMENT,APARTMENT,Belgium,Flanders,Limburg,...,1.0,1.0,NaN,142.0,B,True,NaN,2023-06-07T07:39:57.000+0000,2023-06-07T07:39:59.080+0000,3192.00
10616880,https://www.immoweb.be/en/classified/10616880,200,FOR_SALE,BUY_REGULAR,218000,APARTMENT,APARTMENT,Belgium,Flanders,Antwerp,...,0.0,0.0,NaN,92.0,A,True,NaN,2023-06-07T07:22:33.000+0000,2023-07-05T08:30:20.607+0000,2564.71
10616933,https://www.immoweb.be/en/classified/10616933,200,FOR_SALE,BUY_REGULAR,95000,APARTMENT,APARTMENT,Belgium,Flanders,West Flanders,...,0.0,0.0,NaN,521.0,F,False,NaN,2023-06-07T07:52:35.000+0000,2023-07-05T08:28:15.563+0000,2317.07
10616917,https://www.immoweb.be/en/classified/10616917,200,FOR_SALE,BUY_REGULAR,169000,APARTMENT,APARTMENT,Belgium,Flanders,West Flanders,...,0.0,0.0,NaN,391.0,D,True,NaN,2023-06-07T07:47:23.000+0000,2023-07-05T08:19:08.357+0000,0.00
10616913,https://www.immoweb.be/en/classified/10616913,200,FOR_SALE,BUY_REGULAR,359000,APARTMENT,APARTMENT,Belgium,Flanders,Antwerp,...,0.0,0.0,NaN,140.0,B,False,NaN,2023-06-07T07:44:08.000+0000,2023-06-07T07:44:09.170+0000,3263.64

URL                                 0.000000
Status                              0.000000
transactionType                     0.000000
transactionSubtype                  0.000000
price                               0.000000
type                                0.000000
subtype                             0.000000
country                             0.000000
region                              0.000000
province                            0.000000
district                            0.000000
locality                            0.000000
postalCode                          0.000000
street                             16.966595
number                             19.531121
box                                81.030213
floor                               0.000000
latitude                            0.000000
longitude                           0.000000
bedroomCount                        0.000000
netHabitableSurface                 0.000000
constructionYear                   37.724946
facadeCount                         0.000000
floorCount                          0.000000
condition                           0.000000
hasLift                             0.000000
kitchen                             0.000000
hasGarden                           0.000000
gardenSurface                       0.000000
hasTerrace                          0.000000
terraceSurface                      0.000000
land                                0.000000
fireplaceExists                     0.000000
hasSwimmingPool                     0.000000
hasAirConditioning                  0.000000
bathroomCount                       0.000000
showerRoomCount                     0.000000
toiletCount                         0.000000
parkingCountIndoor                  0.000000
parkingCountOutdoor                 0.000000
parkingCountClosedBox             100.000000
primaryEnergyConsumptionPerSqm      0.000000
epcScore                            0.000000
hasDoubleGlazing                    0.000000
saleType                           97.182323
creationDate                        0.000000
lastModificationDate                0.000000
price_per_sm                        0.000000
dtype: float64

In [56]:
immo = immo[['transactionSubtype', 'price', 'type', 'subtype', 'region', 'province', 'floor', 'bedroomCount', 
             'netHabitableSurface', 'constructionYear', 'facadeCount', 'floorCount', 'condition', 'hasLift', 
             'kitchen', 'hasGarden', 'gardenSurface', 'hasTerrace', 'terraceSurface', 'fireplaceExists', 
             'hasSwimmingPool', 'hasAirConditioning', 'bathroomCount', 'showerRoomCount', 'toiletCount', 
             'parkingCountIndoor', 'parkingCountOutdoor', 'primaryEnergyConsumptionPerSqm', 'epcScore', 'hasDoubleGlazing']]

immo = immo[~immo['constructionYear'].isna()]
immo = immo[immo['netHabitableSurface'] != 0]

display(immo.shape)
display(immo.head())

(10811, 30)

,transactionSubtype,price,type,subtype,region,province,floor,bedroomCount,netHabitableSurface,constructionYear,...,hasSwimmingPool,hasAirConditioning,bathroomCount,showerRoomCount,toiletCount,parkingCountIndoor,parkingCountOutdoor,primaryEnergyConsumptionPerSqm,epcScore,hasDoubleGlazing
id,,,,,,,,,,,,,,,,,,,,,
10616910,BUY_REGULAR,399000,APARTMENT,APARTMENT,Flanders,Limburg,1.0,2.0,125.0,2013.0,...,False,False,1.0,0.0,1.0,1.0,1.0,142.0,B,True
10616911,BUY_REGULAR,423000,APARTMENT,APARTMENT,Wallonie,Walloon Brabant,2.0,3.0,155.0,2014.0,...,False,False,1.0,2.0,2.0,4.0,8.0,112.0,B,True
10616934,BUY_REGULAR,169000,APARTMENT,GROUND_FLOOR,Wallonie,LiÃ¨ge,0.0,1.0,54.0,1850.0,...,False,False,1.0,1.0,1.0,0.0,0.0,109.0,B,True
10616833,BUY_REGULAR,275000,APARTMENT,APARTMENT,Wallonie,Walloon Brabant,1.0,1.0,66.0,2025.0,...,False,False,1.0,0.0,1.0,53.0,53.0,50.0,A,True
10616966,BUY_REGULAR,185000,APARTMENT,APARTMENT,Flanders,Antwerp,3.0,2.0,74.0,1975.0,...,False,False,1.0,0.0,1.0,0.0,0.0,238.0,C,True

In [57]:
display(immo.isnull().mean() * 100)#percentage of missing values per column

transactionSubtype                0.0
price                             0.0
type                              0.0
subtype                           0.0
region                            0.0
province                          0.0
floor                             0.0
bedroomCount                      0.0
netHabitableSurface               0.0
constructionYear                  0.0
facadeCount                       0.0
floorCount                        0.0
condition                         0.0
hasLift                           0.0
kitchen                           0.0
hasGarden                         0.0
gardenSurface                     0.0
hasTerrace                        0.0
terraceSurface                    0.0
fireplaceExists                   0.0
hasSwimmingPool                   0.0
hasAirConditioning                0.0
bathroomCount                     0.0
showerRoomCount                   0.0
toiletCount                       0.0
parkingCountIndoor                0.0
parkingCountOutdoor               0.0
primaryEnergyConsumptionPerSqm    0.0
epcScore                          0.0
hasDoubleGlazing                  0.0
dtype: float64

In [58]:
# get the dummies and store it in a variable
transactionSubtype_dummies = pd.get_dummies(immo.transactionSubtype,dtype=int)
type_dummies = pd.get_dummies(immo.type,dtype=int)
subtype_dummies = pd.get_dummies(immo.subtype,dtype=int)
region_dummies = pd.get_dummies(immo.region,dtype=int)
province_dummies = pd.get_dummies(immo.province,dtype=int)
condition_dummies = pd.get_dummies(immo.condition,dtype=int)
kitchen_dummies = pd.get_dummies(immo.kitchen,dtype=int)
epcScore_dummies = pd.get_dummies(immo.epcScore,dtype=int)
 
# Concatenate the dummies to original dataframe
immo = pd.concat([immo, transactionSubtype_dummies, type_dummies, subtype_dummies, region_dummies, 
                  province_dummies, condition_dummies, kitchen_dummies, epcScore_dummies], axis='columns')
 
# drop the values
immo = immo.drop(['transactionSubtype', 'type', 'subtype', 'region', 'province', 'condition', 'kitchen', 'epcScore'], axis='columns')

immo.shape

(10811, 89)

In [59]:
immo.hasLift = immo.hasLift.replace({True: 1, False: 0})
immo.hasGarden = immo.hasGarden.replace({True: 1, False: 0})
immo.hasTerrace = immo.hasTerrace.replace({True: 1, False: 0})
immo.fireplaceExists = immo.fireplaceExists.replace({True: 1, False: 0})
immo.hasSwimmingPool = immo.hasSwimmingPool.replace({True: 1, False: 0})
immo.hasAirConditioning = immo.hasAirConditioning.replace({True: 1, False: 0})
immo.hasDoubleGlazing = immo.hasDoubleGlazing.replace({True: 1, False: 0})

In [60]:
immo.columns

Index(['price', 'floor', 'bedroomCount', 'netHabitableSurface',
       'constructionYear', 'facadeCount', 'floorCount', 'hasLift', 'hasGarden',
       'gardenSurface', 'hasTerrace', 'terraceSurface', 'fireplaceExists',
       'hasSwimmingPool', 'hasAirConditioning', 'bathroomCount',
       'showerRoomCount', 'toiletCount', 'parkingCountIndoor',
       'parkingCountOutdoor', 'primaryEnergyConsumptionPerSqm',
       'hasDoubleGlazing', 'BUY_REGULAR', 'PUBLIC_SALE', 'APARTMENT', 'HOUSE',
       'APARTMENT', 'APARTMENT_BLOCK', 'BUNGALOW', 'CASTLE', 'CHALET',
       'COUNTRY_COTTAGE', 'DUPLEX', 'EXCEPTIONAL_PROPERTY', 'FARMHOUSE',
       'FLAT_STUDIO', 'GROUND_FLOOR', 'HOUSE', 'KOT', 'LOFT', 'MANOR_HOUSE',
       'MANSION', 'MIXED_USE_BUILDING', 'OTHER_PROPERTY', 'PENTHOUSE',
       'SERVICE_FLAT', 'TOWN_HOUSE', 'TRIPLEX', 'VILLA', 'Brussels',
       'Flanders', 'Wallonie', 'Antwerp', 'Brussels', 'East Flanders',
       'Flemish Brabant', 'Hainaut', 'Limburg', 'LiÃ¨ge', 'Luxembourg', 'Namur',
       'Walloon Brabant', 'West Flanders', 'AS_NEW', 'GOOD', 'JUST_RENOVATED',
       'NO_COND_INFORMATION', 'TO_BE_DONE_UP', 'TO_RENOVATE', 'TO_RESTORE',
       'HYPER_EQUIPPED', 'INSTALLED', 'NOT_INSTALLED', 'NO_KITCH_INFORMATION',
       'SEMI_EQUIPPED', 'USA_HYPER_EQUIPPED', 'USA_INSTALLED',
       'USA_SEMI_EQUIPPED', 'USA_UNINSTALLED', 'A', 'A+', 'A++', 'B', 'C', 'D',
       'E', 'F', 'G', 'NO_EPC_SCORE'],
      dtype='object')

In [61]:
display(immo.head(10))

,price,floor,bedroomCount,netHabitableSurface,constructionYear,facadeCount,floorCount,hasLift,hasGarden,gardenSurface,...,A,A+,A++,B,C,D,E,F,G,NO_EPC_SCORE
id,,,,,,,,,,,,,,,,,,,,,
10616910,399000,1.0,2.0,125.0,2013.0,1.0,1.0,1,0,0.0,...,0,0,0,1,0,0,0,0,0,0
10616911,423000,2.0,3.0,155.0,2014.0,4.0,3.0,1,0,0.0,...,0,0,0,1,0,0,0,0,0,0
10616934,169000,0.0,1.0,54.0,1850.0,2.0,2.0,0,0,0.0,...,0,0,0,1,0,0,0,0,0,0
10616833,275000,1.0,1.0,66.0,2025.0,3.0,3.0,1,0,0.0,...,1,0,0,0,0,0,0,0,0,0
10616966,185000,3.0,2.0,74.0,1975.0,1.0,3.0,0,0,0.0,...,0,0,0,0,1,0,0,0,0,0
10616949,199000,0.0,2.0,69.0,1998.0,3.0,4.0,0,0,0.0,...,0,0,0,0,1,0,0,0,0,0
10616967,185000,1.0,2.0,92.0,1973.0,2.0,2.0,0,0,0.0,...,0,0,0,0,1,0,0,0,0,0
10617013,759000,4.0,2.0,167.0,2021.0,1.0,4.0,1,1,0.0,...,0,0,0,0,0,0,0,0,0,1
10617020,339000,2.0,2.0,103.0,2008.0,1.0,2.0,1,1,0.0,...,0,0,0,1,0,0,0,0,0,0
10617017,425000,2.0,2.0,120.0,2023.0,2.0,2.0,1,0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [62]:
#validate duplicates values
duplicate = immo[immo.duplicated(keep='first')]

if len(duplicate) > 0:
    immo = immo.drop(duplicate.index[:])

In [63]:
immo.to_csv('../data/_data_clean_to_model.csv')